{% extends 'blog/base.html' %}

{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/base_resume.css' %}">
{% endblock %}
{% block script %}
    <script src="{% static 'script/queryAll.js' %}"></script>
{% endblock %}

{% block title %}Ссылкки{% endblock %}

{% block content %}
    <div>
        <div>
            <!--Данные-->
            <form>
                <table>

                    {{ form_resume.management_form }}
                    {% for form in form_resume %}
                        {{ form.id }}
                        <tbody>
                            <tr>
                                <td>
                                    {{  form.firstName.label }}
                                </td>
                                <td>
                                    {{  form.lastName.label }}
                                </td>
                                <td>
                                    {{  form.middleName.label }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{  form.firstName }}
                                </td>
                                <td>
                                    {{  form.lastName }}
                                </td>
                                <td>
                                    {{  form.middleName }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{  form.gender.label }}
                                </td>
                                <td>
                                    {{  form.phone.label }}
                                </td>
                                <td>
                                    {{  form.email.label }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{  form.gender }}
                                </td>
                                <td>
                                    {{  form.phone }}
                                </td>
                                <td>
                                    {{  form.email }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{  form.location.label }}
                                </td>
                                <td>
                                    {{  form.education.label }}
                                </td>
                                <td>
                                    {{  form.experience.label }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{  form.location }}
                                </td>
                                <td>
                                    {{  form.education }}
                                </td>
                                <td>
                                    {{  form.experience }}
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </form>
        </div>
        <div>
            <!--div class="control_applet">
                <!--Управление>
                <button name="query" data-query="true" id="query">Поиск</button>
                <button name="run" data-run="true" id="run_query" disabled>Выполнить</button>
            </div-->
            <div class="data_space">
                <!--Данные-->
                <table class="resume_table" width="666px">
                    <tbody>
                        <tr>
                            {% for item in colems %}
                                <th class="resume_table_cell" data-name={{ item.fieldName }}>{{ item.displayName }}</th>
                            {% endfor %}
                        </tr>
                        {% for item in links %}
                            <tr>
                                <td class="resume_table_cell"><a href={{ item.url }}>{{ item.url }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
