{% extends 'blog/base.html' %}

{% load staticfiles %}

{% block script %}
    <!--script src="{% static 'script/loadSourceRedume.js' %}"></script-->
    <script src="{% static 'script/seveResume.js' %}"></script>
{% endblock %}

{% block title %}Разобор резюме{% endblock %}

{% block content %}
    <div>
        <!--form action="/resume/add/" method="POST" class="form-signin"-->
        <form class="form-signin">
            {% csrf_token %}
            <table>
                <tbody>
                <tr>
                    <td>
                        {{  form.firstName.label }}
                    </td>
                    <td>
                        {{  form.lastName.label }}
                    </td>
                    <td>
                        {{  form.middleName.label }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{  form.firstName }}
                    </td>
                    <td>
                        {{  form.lastName }}
                    </td>
                    <td>
                        {{  form.middleName }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{  form.gender.label }}
                    </td>
                    <td>
                        {{  form.phone.label }}
                    </td>
                    <td>
                        {{  form.email.label }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{  form.gender }}
                    </td>
                    <td>
                        {{  form.phone }}
                    </td>
                    <td>
                        {{  form.email }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{  form.location.label }}
                    </td>
                    <td>
                        {{  form.education.label }}
                    </td>
                    <td>
                        {{  form.experience.label }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{  form.location }}
                    </td>
                    <td>
                        {{  form.education }}
                    </td>
                    <td>
                        {{  form.experience }}
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- value="Отправить" -->
            <!--button name="push" data-add-resume="true">Отправить</button-->
            <!--input type="submit" name="push" data-add-resume="true" value="Отправить"/-->
        </form>
        <button name="push" data-add-resume="true" id="push">Отправить</button>
    </div>
{% endblock %}
{% block win %}
    <div>
        <iframe srcdoc="{{ resumeBody }}" width="1000px" height="640px"></iframe>
    </div>
{% endblock %}