{% extends 'blog/base.html' %}

{% load staticfiles %}

{% block style %}
    <!--link rel="stylesheet" href="{% static 'css/base_resume.css' %}"-->
{% endblock %}
{% block script %}
    <script src="{% static 'script/queryAll.js' %}"></script>
    <!--script src="{% static 'css/ball/js/jquery.cookie.js' %}"></script-->
{% endblock %}

{% block title %}Сохраненные резюме{% endblock %}

{% block content %}
    <div>
        <!--div class="control_applet">
            <!--Управление>
            <button name="query" data-query="true" id="query">Поиск</button>
            <button name="run" data-run="true" id="run_query" disabled>Выполнить</button>
        </div-->
        <div class="data_space">
            <input type="hidden" name="view_name" value="showeResumes"/>
            <!--Данные-->
            <table class="table table-striped">
                <thead>
                    <tr>
                        {% for item in colems %}
                            <th scope="row" data-name={{ item.fieldName }}>{{ item.displayName }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                    <tbody>
                    {% for item in search_cards %}
                        <tr>
                            <td scope="row"><a href={{ item.id }}>{{ item.text }}</a></td>
                            <td scope="row">{{ item.ageFrom }}</td>
                            <td scope="row">{{ item.ageTo }}</td>
                            <td cscope="row">{{ item.salaryFrom }}</td>
                            <td scope="row">{{ item.salaryTo }}</td>
                            <td scope="row">{{ item.gender }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
