{% extends 'blog/base.html' %}

{% load staticfiles %}

{% block script %}
    <!--script src="{% static 'script/multiCheckbox.js' %}"></script-->
{% endblock %}

{% block title %}Поиска{% endblock %}

{% block content %}
    <h1>Поиск резюме:</h1>
    <div>
        <form action="/search/result/" method="GET">
            {% csrf_token %}
            <input type="hidden" name="page" vlaue="1"/><!--{{ pageNamber }} /-->
            <div class="row">
                <div class="span11">{{ form.text }}</div>
                <div class="span1"> 
                    <input type="submit" name="run" value="Поиск"/>
                </div>
            </div>
            <div class="row">
                <div class="span3">{{ form.ageFrom.label }}</div>
                <div class="span3">{{ form.ageFrom }}</div>
                <div class="span3">{{ form.ageTo.label }}</div>
                <div class="span3">{{ form.ageTo }}</div>
            </div>
            <div class="row">
                <div class="span3">{{ form.salaryFrom.label }}</div>
                <div class="span3">{{ form.salaryFrom }}</div>
                <div class="span3">{{ form.salaryTo.label }}</div>
                <div class="span3">{{ form.salaryTo }}</div>
            </div>
            <div class="row">
                <div class="span3">{{ form.searchMode.label }}</div>
                <div class="span3">{{ form.searchMode }}</div>
                <div class="span3">{{ form.gender.label }}</div>
                <div class="span3">{{ form.gender }}</div>
            </div>
            <div class="row">
                <div class="span3">{{ form.source.label }}</div>
                <div class="span3">{{ form.source }}</div>
            </div>
        </form>
    </div>
{% endblock %}