{% extends 'blog/base.html' %}

{% load staticfiles %}

{% block script %}
    <!--script src="{% static 'script/multiCheckbox.js' %}"></script-->
{% endblock %}

{% block title %}Результаты поиска{% endblock %}

{% block content %}
    <h2>Результаты поиска:</h2>
    <div>
        <form action="/search/result/" method="GET">
            {% csrf_token %}
            <input type="hidden" name="page" vlaue="1"/><!--{{ pageNamber }} /-->
            <div class="row">
                <div class="span11">{{ form.text }}</div>
                <div class="span1"> 
                    <input type="submit" name="run" value="Поиск"/>
                </div>
            </div>
            <div class="row">
                <div class="span3">{{ form.ageFrom.label }}</div>
                <div class="span3">{{ form.ageFrom }}</div>
                <div class="span3">{{ form.ageTo.label }}</div>
                <div class="span3">{{ form.ageTo }}</div>
            </div>
            <div class="row">
                <div class="span3">{{ form.salaryFrom.label }}</div>
                <div class="span3">{{ form.salaryFrom }}</div>
                <div class="span3">{{ form.salaryTo.label }}</div>
                <div class="span3">{{ form.salaryTo }}</div>
            </div>
            <div class="row">
                <div class="span3">{{ form.searchMode.label }}</div>
                <div class="span3">{{ form.searchMode }}</div>
                <div class="span3">{{ form.gender.label }}</div>
                <div class="span3">{{ form.gender }}</div>
            </div>
            <div class="row">
                <div class="span3">{{ form.source.label }}</div>
                <div class="span3">{{ form.source }}</div>
            </div>
        </form>
    </div>
    <div>
        {% for error_message in errors %}
            <div class="alert alert-error">
                <p><span class="error_message">{{ error_message }}</span></p>
            </div>
        {% endfor %}
        <ul class="unstyled">
            {% for resumeItem in resumeList %}
                <il>
                    <!--div class="person_meta"-->
                    <div class="well well-large">
                        <!--span class="btn"-->
                        <span>
                            <a href={{ resumeItem.link }} class="output__name">{{ resumeItem.jobTitle }}</a>
                        </span>
                        {% if resumeItem.domain.preview %}
                            <br />
                            <span class="label"-->
                            <!--span class="label label-inverse"--> 
                            <!--span class="btn"-->
                                <a href={{ resumeItem.previewLink }} class="output__name">Предварительный просмотр</a>
                            </span>
                        {% endif %}
                        <div class="output__info">
                            {% if resumeItem.pay %}
                                <span class="output__compensation">{{ resumeItem.pay }}</span>
                            {% endif %}
                            {% if resumeItem.age %}
                                <span class="output__age">{{ resumeItem.age }}</span>
                            {% endif %}
                        </div>
                        <p><b>Опыт работы:&nbsp;</b>
                        {% if resumeItem.jobExp %}
                            <span>{{ resumeItem.jobExp }}</span></p>
                        {% else %}
                            <span>Без опыта</span></p>
                        {% endif %}
                        <p><b>Последнее место работы:&nbsp;</b>
                        {% if resumeItem.lastJob %}
                            <span>{{ resumeItem.lastJob }}</span></p>
                        {% else %}
                            <span>Нет</span></p>
                        {% endif %}
                    </div>
                </il>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
