{% extends 'blog/base.html' %}

{% block title %}Поиск сотрудников{% endblock %}

{% block content %}
    <!--h1>Поиск сотрудников:</h1>
    <div>
        <form>
            <input type="entry" placeholder="Введите запрос" size="110" name="searchField">
            <input type="text" placeholder="Задайте размер выборки записей" name="limitField">
            <input type="button" value="Поиск" name="run" data-command="ranSearch">
        </form>
    </div-->
    <h1>Поиск сотрудников:</h1>
    <div>
        <form action="/search/" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" name="run" value="Поиск"/>
        </form>
    </div>
{% endblock %}