{% extends 'blog/base.html' %}

{% load staticfiles %}

{% block script %}
    <script src="{% static 'script/multiCheckbox.js' %}"></script>
{% endblock %}

{% block title %}Результаты поиска{% endblock %}

{% block content %}
    <h2>Результаты поиска:</h2>
    <div>
        <form action="/search/result/" method="GET">
            {% csrf_token %}
            <input type="hidden" name="page" vlaue="1"/><!--{{ pageNamber }} /-->
            <table>
                <tbody>
                    <tr>
                        <td colspan="3">
                            <div>
                                {{ form.text }}   
                            </div>
                        </td>
                        <td>
                            <input type="submit" name="run" value="Поиск"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{  form.searchMode.label }}
                        </td>
                        {% for ratio in form.searchMode %}
                            <td>
                                <label for={{  ratio.id_for_label }}>
                                    {{  ratio.choice_label }}
                                    <span>
                                        {{ ratio.tag }}
                                    </span>
                                </lable>
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>
                            {{ form.limit.label }}
                        </td>
                        <td>
                            {{ form.limit }}
                        </td>
                        <td>
                            {{ form.itemPage.label }}
                        </td>
                        <td>
                            {{ form.itemPage }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form.ageFrom.label }}
                        </td>
                        <td>
                            {{ form.ageFrom }}
                        </td>
                        <td>
                            {{ form.ageTo.label }}
                        </td>
                        <td>
                            {{ form.ageTo }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form.salaryFrom.label }}
                        <td>
                            {{ form.salaryFrom }}
                        </td>
                        <td>
                            {{ form.salaryTo.label }}
                        <td>
                            {{ form.salaryTo }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form.gender.label }}
                        </td>
                        {% for ratio in form.gender %}
                            <td>
                                <label for={{ ratio.id_for_label }}>
                                    {{ ratio.choice_label }}
                                    <span>
                                        {{ ratio.tag }}
                                    </span>
                                </label>
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>
                            {{ form.source.label }}
                        </td>
                        {% for item in form.source %}
                            <td>
                                <label for={{ item.id_for_label }}>
                                    {{ item.choice_label }}
                                    <span>
                                        {{ item.tag }}
                                    </span>
                                </label>
                            </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div>
        {% for error_message in errors %}
            <div class="alert alert-error">
                <p><span class="error_message">{{ error_message }}</span></p>
            </div>
        {% endfor %}
        <ul class="unstyled">
            {% for resumeItem in resumeList %}
                <il>
                    <!--div class="person_meta"-->
                    <div class="well well-large">
                        <!--span class="btn"-->
                        <span>
                            <a href={{ resumeItem.link }} class="output__name">{{ resumeItem.jobTitle }}</a>
                        </span>
                        {% if resumeItem.domain.preview %}
                            <br />
                            <span class="label"-->
                            <!--span class="label label-inverse"--> 
                            <!--span class="btn"-->
                                <a href={{ resumeItem.previewLink }} class="output__name">Предварительный просмотр</a>
                            </span>
                        {% endif %}
                        <div class="output__info">
                            {% if resumeItem.pay %}
                                <span class="output__compensation">{{ resumeItem.pay }}</span>
                            {% endif %}
                            {% if resumeItem.age %}
                                <span class="output__age">{{ resumeItem.age }}</span>
                            {% endif %}
                        </div>
                        <p><b>Опыт работы:&nbsp;</b>
                        {% if resumeItem.jobExp %}
                            <span>{{ resumeItem.jobExp }}</span></p>
                        {% else %}
                            <span>Без опыта</span></p>
                        {% endif %}
                        <p><b>Последнее место работы:&nbsp;</b>
                        {% if resumeItem.lastJob %}
                            <span>{{ resumeItem.lastJob }}</span></p>
                        {% else %}
                            <span>Нет</span></p>
                        {% endif %}
                    </div>
                </il>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
